<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Swing_window_exitbutton/src/swing_exitbutton.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="swing_exitbutton"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Swing_window_exitbutton"/>
</launchConfiguration>
